In [ ]:
import pandas as pd

In [ ]:
sales_df = pd.read_csv("../dataset/sales_data.csv")
sales_df.head()

In [ ]:
# 1. df sort ont inplace
sorted_sales_df = sales_df.sort_values(by="Profit", ascending=False, inplace=False)
sorted_sales_df.head()

In [ ]:
# 1.2 df not changed
sales_df.head()

In [ ]:
# df sort on inplace
sales_df.sort_values(by="Profit", ascending=False, inplace=True)
sales_df.head()

In [13]:
# 2. sort by multiple columns
sales_df.sort_values(by=["Profit", "Cost"], ascending=[False, True]).head()

         Date Region   Product  Sales  Profit  Cost Customer_Segment
9  2024-01-10  South  Widget A    800     160   640              SMB
2  2024-01-03   West  Widget A    700     150   550       Enterprise
6  2024-01-07   West  Widget A    600     120   480       Enterprise
0  2024-01-01  North  Widget A    500     100   400       Enterprise
4  2024-01-05  North  Widget B    450      90   360       Enterprise

In [14]:
# 3. sort Series
sales_df["Profit"].sort_values(ascending=False).head()

9    160
2    150
6    120
0    100
4     90
Name: Profit, dtype: int64